@charset "UTF-8";
/*모달창*/
#modalWrap{
	position:relative;
	display:none;
	margin-top:-400px;	
}
/*모달 팝업창 body*/
#modalBody {
	/*확대/축소 시 하위 태그 비율 따라서 맞춰짐*/
  justify-content:flex-end;
  display:relative;
  width: 800px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
  height:400px;
  /*그림자:
   offset-x offset-y blur-radius (color)
  */
  box-shadow: 15px 15px 5px grey ;
}

/*닫기 버튼*/
#closeBtn {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}


#csAnswer{
	border:solid 1px gray;
	width:100%;
	height:100px;
	resize: none;
	
}
/*답변하기 버튼*/
#answerBtn{
	display:absolute;
	height:70%;
}


/*body에서 모달창 제외 부분*/
.container-fluid .px-4{
	position:relative;
}

#DivOpenImg{
	margin-top:50px;
	display:none;
}
/*이미지 닫기 버튼*/
#closeImg {
  float:center;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
}	
/*모달창 내 삭제 버튼*/
#delbtn{
	position:relative;
	margin-left:600px;
	margin-top:-50px;
}

